/*step curent*/
.paint_step {
	background: rgba(224, 224, 224, 0.82);
	color: #000;
}
/*------------------------------*/
/*auth_step1*/
#auth_step1 {
	margin-top: 2rem;
}
#curent_steps {
	margin-bottom: 2rem;
	display: flex;
}
.steps {
	width: 25%;
	float: left;
}
.steps div {
	height: 76px;
	width: 80px;
	border: 1px solid #26a69a;
	border-radius: 50%;
	font-size: 2rem;
}
/* END step curent*/
.validationDiv {}
#captcha {
	width: 100%;
}
.text {
	text-align: center;
	text-transform: uppercase;
}
.capt_field {
	border: 1px solid #9e9e9e;
	background: rgba(27, 40, 56, 0.72);
	/*box-shadow : 0px 22px 21px 15px rgba(27,40,56,1) ;*/
	box-shadow : 0px 10px 20px 7px rgba(27,40,50,0.8) ;
}
.capt_field .row {
	margin-bottom: 0px;
}

.capt_field .btn {
	width: 100%;
}
.sub {
	border-top: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	color: #fff;
}
#CaptchaCode {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 1%;
	width: 98%;
	border-bottom: 0px solid black !important;
}
/*END auth_step1*/

/*auth_step2*/
.info {
	border: 1px solid #9e9e9e;
	padding: 5px;
}
.info label{
	font-size: 20px;
}
.info .btn{
	width: 100%;
}

.info .personal_data_steam div{
	border-bottom: 1px dashed #9e9e9e;
	padding: 5px 0;
}
/*END auth_step2*/

/*------------------------------*/