/* ---------------------------------------- */
/* Desctop style */
/* ---------------------------------------- */
.bg-green {
	background: rgba(76, 175, 80, 0.38) !important;
}
.bg-red{
	background: rgba(167, 86, 96, 0.38) !important;
}
.bgred{}
/* button back */
#compare_page .btn_back {
	position: absolute;
	top: 120px;
	left: 57px;
}
@media screen and (max-width: 1400px){
	#compare_page .btn_back {
		left: 14px;
	}
}

#compare_page .btn_back a{
	border: 1px solid #7c704f;
	font-size: 15px;
	background: #171a21;
	height: 120px;
	width: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
/* END button back */

#profile_compare {
	margin-top: 20px;
	width: 100%;
	font-family: 'Muli', sans-serif;
}

/* comun field_name_sec & field_compare_sec */
#profile_compare .field_name_sec , #profile_compare .field_compare_sec {
	float: left;
	padding: 0  0  0 12px;
}
#profile_compare .field_name_sec .field_name, #profile_compare .field_compare_sec .field_compare {
	background: rgba(23, 26, 33, 0.12);
	min-height: 40px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
/* END comun field_name_sec & field_compare_sec */

/* field_name_sec */
#profile_compare .field_name_sec {
	width: 12%;
	margin-top: 200px;
	border-radius: 10px;
	text-transform: uppercase;
	font-family: 'Marcellus SC', serif;
}
#profile_compare .field_name_sec .field_name{
	color: #ddd;
	font-weight: 700;
	border-bottom: 1px solid #a79f8b;
}
#profile_compare .field_name_sec .field_name:nth-child(10) {
	height: 70px;
}
#profile_compare .field_name_sec .field_name:nth-child(8) {
	height: 50px;
}

/* END field_name_sec */

/* field_compare_sec */
#profile_compare .field_compare_sec {
	width: calc((100% - 12%) / 4);
	color: #ccc;
}
#profile_compare .field_compare_sec:last-child {
	padding-right: 12px;
}
#profile_compare .field_compare:first-child {
	height: 200px;
	overflow: hidden;
	padding: 20px;
	border-bottom: none;
}
#profile_compare .field_compare:nth-child(11) {
	height: 70px;
}
#profile_compare .field_compare:nth-child(9) {
	height: 50px;
}
#profile_compare .field_compare_sec .field_compare{
	border-bottom: 1px solid #ddd;
	color: #fff;
}
#profile_compare .field_compare img {
	height: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
/* END field_compare_sec */

/* ---------------------------------------- */
/* mobile style */
/* ---------------------------------------- */
@media screen and (max-device-width: 768px) {
	#compare_page .btn_back {
		position: absolute;
		top: 110px;
		left: 20px;
	}
	#compare_page .btn_back a{
		height: 100px;
		width: 100px;
	}
	#profile_compare {
		margin-top: 50px;
	}
	#profile_compare .field_name_sec {
		margin-top: 120px;
	}
	#profile_compare .field_compare:first-child {
		height: 120px;
		padding: 5px;
	}
}