#search_result {
	position: relative;
	margin-top: 10px;
}
/*user_compare_block*/
.comparison_active {
	display: block !important;
}
#search_result #user_compare_block {
	width: 140px;
	min-height: 400px;
	position: fixed;
	padding: 0px 7px 50px 7px;
	right: 36px;
	top: 105px;
	border: 1px solid #000;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	display: none;
	background: rgba(23, 26, 33, 0.48);
}
#search_result #user_compare_block:nth-child(1) {
	padding-top: 7px;
}
#search_result #user_compare_block .thumbnail_wrapper {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.42);
	background: #1b2838;
	margin-bottom: 7px;
	width: 100%;
}
#search_result #user_compare_block .thumbnail_wrapper .remove_user {
	background: #26a69a;
	/*border: 1px solid #fff;*/
	position: absolute;
	right: 0px;
	width: 16px;
	height: 16px;
	color: #fff;
}
#search_result #user_compare_block .thumbnail_wrapper .remove_user:hover {
	width: 20px;
	height: 20px;
	margin-top: -4px;
	margin-right: -4px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_image {
	padding: 5px 5px 0 5px;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_image img {
	margin: 0 auto;
	max-height: 92px;
	max-width: 100%;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_user_name {
	text-align: center;
	overflow: hidden;
	color: #fff;
	height: 25px;
}
#search_result #user_compare_block .btn {
	width: 89%;
	text-align: center;
	font-size: 30px;
	position: absolute;
	bottom: 5px;
}
/*END user_compare_block*/

/*item style*/

#search_result .item_wrap {
	padding: 4px;
}
#search_result .item_wrap .item_content {
	background: rgba(27, 40, 56, 0.38);
	min-height: 400px;
	padding: 5px 0 0 0px;
	border: 1px solid rgba(0, 0, 0, 0.42);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#search_result .item_wrap .item_content .row {
	margin-left: 0;
	margin-right: 0;
/*---------------------User image-----------------------------*/
}
#search_result .item_wrap .item_content #user_image img {
	box-shadow: 2px 3px 7px 3px rgba(27,40,56,1);
	max-height: 115px;
}
#search_result .item_wrap .item_content .info_right {
	padding: 0 5px 0 5px;
}

/*---------------------User Name-----------------------------*/
#search_result .item_wrap .item_content #user_name {
	border-bottom: 1px solid #fff;
	font-size: 20px;
	color: #fff;
}
/*---------------------Country-----------------------------*/
#search_result .item_wrap .item_content .country {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	overflow: hidden;
}
#search_result .item_wrap .item_content .country .country_flag {
	width: 15px;
	margin-right: 5px;
}
#search_result .item_wrap .item_content .country .country_flag img {
	width: 100%;
}

/*-------------------Level------------------------*/
#search_result .item_wrap .item_content #level {
	position: relative;
	padding: 2px 0;
}
#search_result .item_wrap .item_content #level .level_wrap {
	border: 1px solid red;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin-left: 7px;
	color: #fff;
}
/*-----------------------Play Time---------------------*/

#search_result .item_wrap .item_content #play_time .hour {
	margin-left: 5px;
}

/*------------------------Status------------------------*/
#search_result .item_wrap .item_content #status {
	margin-top: 5px;
	color: #ddd;
	font-family: Arial sans-serif;
}
#search_result .item_wrap .item_content #status .of_on{
	font-family: Arial;
	font-size: 20px;
}
/*----------------------Account created------------------*/
#search_result .item_wrap .item_content #account_created .data_created{
	font-size: 16px;
}
/*----------------------Steam Url----------------------*/
#search_result .item_wrap .item_content #steam_url {
	border-bottom: 1px dashed #ddd;
}
#search_result .item_wrap .item_content #steam_url .s_url {
	font-size: 16px;
}
#search_result .item_wrap .item_content #steam_url #copy_url {
	font-family: Arial sans-serif;
	padding-left: 10px;
	cursor: pointer;
}

/*----------------------Comun style----------------------*/
#search_result .item_wrap .item_content .count_data {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
	font-size: 14px;
	height: 30px;
}
#search_result .item_wrap .item_content .count_data .nr_data {
	font-size: 18px;
	color: #ddd;
	font-weight: 300;
	padding-left: 5px;
	max-width: 5px;
	overflow: hidden;
}
/*-----------------------------------------------------*/
/*END item style*/