#search_result {
	position: relative;
	margin-top: 10px;
}
/*user_compare_block*/
.comparison_active {
	display: block !important;
}
#search_result #user_compare_block {
	width: 140px;
	min-height: 400px;
	position: fixed;
	padding: 0px 7px 50px 7px;
	right: 36px;
	top: 105px;
	border: 1px solid #000;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	display: none;
	background: rgba(23, 26, 33, 0.48);
}
#search_result #user_compare_block:nth-child(1) {
	padding-top: 7px;
}
#search_result #user_compare_block .thumbnail_wrapper {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.42);
	background: #1b2838;
	margin-bottom: 7px;
	width: 100%;
}
#search_result #user_compare_block .thumbnail_wrapper .remove_user {
	background: rgba(185, 183, 182, 0.94);
	border: 2px solid #7c704f;
	position: absolute;
	right: 0px;
	width: 16px;
	height: 16px;
	font-size: 12px;
	font-weight: 800;
	color: #000;
}
#search_result #user_compare_block .thumbnail_wrapper .remove_user:hover {
	width: 20px;
	height: 20px;
	margin-top: -4px;
	margin-right: -4px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_image {
	padding: 5px 5px 0 5px;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_image img {
	margin: 0 auto;
	max-height: 92px;
	max-width: 100%;
}
#search_result #user_compare_block .thumbnail_wrapper .compare_user_name {
	overflow: hidden;
	color: #fff;
	height: 25px;
	margin: 0 auto;
}
#search_result #user_compare_block .btn {
	width: 89%;
	position: absolute;
	bottom: 5px;
	background: #1b2838;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #7c704f;
	border-radius: 0px;
	cursor: pointer;
	transform: skew(-7deg);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
/*END user_compare_block*/

/*item style*/

/*1366 x 768*/
@media screen and (max-width: 1400px){
	#search_result .container {
		width: 80%;
	}
}
/*1080 x 720*/
@media screen and (max-width: 1400px){
	#search_result .container {
		width: 98%;
	}
}

#search_result .item_wrap {
	padding: 0px 0px 15px 15px;
}
#search_result .item_wrap .item_content {
	background: rgba(27, 40, 56, 0.38);
	min-height: 400px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.42);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	/*overflow: scroll;*/
}
#search_result .item_wrap .item_content .row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
/*top of itec information*/
#search_result .item_wrap .item_content .inf-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
#search_result .item_wrap .item_content .inf-top > :nth-child(1), #search_result .item_wrap .item_content .inf-top > :nth-child(2) {
	margin: 0;
}
/*END top of itec information*/

/*---------------------User image-----------------------------*/
#search_result .item_wrap .item_content .user_image img {
	box-shadow: 2px 3px 7px 3px rgba(27,40,56,1);
	max-height: 115px;
	max-width: 100%;
}
#search_result .item_wrap .item_content .info_right {
	padding: 0px 0px 5px 5px;
}

/*---------------------User Name-----------------------------*/
#search_result .item_wrap .item_content .user_name {
	border-bottom: 1px solid #fff;
	font-size: 20px;
	color: #fff;
	font-family: 'Marcellus SC', serif;
}
/*---------------------Country-----------------------------*/
#search_result .item_wrap .item_content .country {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	padding: 0;
}
#search_result .item_wrap .item_content .country .country_flag {
	width: 15px;
	margin-right: 5px;
}
#search_result .item_wrap .item_content .country .country_flag img {
	width: 100%;
}

/*-------------------Level------------------------*/
#search_result .item_wrap .item_content .rating .row {
	margin-bottom: 0;
}
#search_result .item_wrap .item_content .level {
	position: relative;
	padding: 2px 0;
}
#search_result .item_wrap .item_content .level .level_wrap {
	border: 1px solid red;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin-left: 7px;
	color: #fff;
}
/*-----------------------Count XP---------------------*/
#search_result .item_wrap .item_content .xp_count {
	font-family: 'Muli', sans-serif;
	padding: 5px 0 0 5px !important;
	font-size: 20px;
	font-weight: 200;
	color: #fff;
}
/*-----------------------Play Time---------------------*/

#search_result .item_wrap .item_content .play_time {
	padding: 0;
}

/*------------------------Status------------------------*/
#search_result .item_wrap .item_content .status {
	margin-top: 5px;
	color: #ddd;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
}
#search_result .item_wrap .item_content .status .curentli {
	/*text-align: center;*/
}
#search_result .item_wrap .item_content .status .col:nth-child(2) {
	/*padding: 5px 0 0 0;*/
}
#search_result .item_wrap .item_content .status .last_visit {
	font-size: 15px;
	padding-top: 5px;
}
#search_result .item_wrap .item_content .status .of_on {
	font-family: Arial;
	font-size: 20px;
	color: #fff;
}
/*----------------------Account created------------------*/
#search_result .item_wrap .item_content .account_created .data_created{
	font-size: 16px;
}
/*----------------------Steam Url----------------------*/
.divid {
	border-bottom: 1px dashed #7c704f;
}
#search_result .item_wrap .item_content .s_url a{
	font-size: 20px;
	color: #a99c79 !important;
}
/*----------------------Compare Button----------------------*/
#search_result .item_wrap .item_content .compare_button p:hover {
	background: none;
	box-shadow: 3px 6px 3px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#search_result .item_wrap .item_content .compare_button p {
	background: #1b2838;
	margin: 0 auto;
	padding: 5px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #7c704f;
	border-radius: 0px;
	cursor: pointer;
	transform: skew(-7deg);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
/*----------------------Comun style----------------------*/
#search_result .item_wrap .item_content .count_data {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: rgb(209, 210, 216);
	font-size: 18px;
	line-height: 30px;
	font-family: 'Muli', sans-serif;
}
#search_result .item_wrap .item_content .count_data .nr_data {
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	color: #fff;
	font-weight: 200;
	padding-left: 5px;
}
.pdr {
	padding-right: 0px !important;
}
/*-----------------------------------------------------*/
/*END item style*/