* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.text_center {
	align-items: center;
}
.item_center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.hc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center;
}
.vc {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
body {
	background: #1b2838;
}
/*---------------------------*/
/*ONE SECTION */
/*---------------------------*/
#mainSec {
	position: relative;
	height: 100vh;
	min-width: 972px;
	color: #acb2b8;
}
#page_bg {
	z-index: -1;
	height: 809px;
	width: 100%;
	position: absolute;
}
#page_bg img {
	/*width of image will be need 1438px and height 809px*/
}
#slide_wrapper {
	height: 100%;
	overflow: hidden;
}
/*navbar*/
#mainSec .nav-extended {
	background-color: #171a21;
	color: #acb2b8;
}
.nav-wrapper .container .row {
	margin-bottom: 0;
}
#store li a, #community li a {
	/*padding: 10px 0px 0px 10px !important;*/
}
#store .dropdown-content{
	background-color: #253447 !important;
}
#nav-mobile li a {
	padding: 37px 7px;
	line-height: 16px;
	color: #acb2b8;
	font-size: 16px;
	text-transform: uppercase;
}

#logo {
	padding-top: 20px;
	margin-right: 40px;
}
#logo img {
	width: 176px;
	height: 44px;
}
/*END navbar*/

/*search*/
#search .introduction{
	padding: 114px 0 0 0;
}
/*END search*/
#search {
	background: url("../image/game_page_background_shadow.png") no-repeat center bottom;
	min-height: 600px;
	position: relative;
}
/*searchField*/
.field {
	position: absolute;
	bottom: 0;
	min-height: 300px;
	width: 700px;
}
.wrapfield input {
	background: rgba(27, 40, 56, 0.38);
	margin: 0;
	padding: 0 5px;
	border-top: 1px solid #9e9e9e;
	border-bottom: : 1px solid #9e9e9e;
	border-left: 1px solid #9e9e9e;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.wrapfield {
	margin: 0;
}
.wrapfield .btn{
	padding: 5px 0rem;
	height: 100%;
	width: 100%;
	border-radius: 0px;
}
.wrapbtn .btn i{
	font-size: 2rem;
}
.wrapfield .wrapbtn{
	padding: 0;
	height: 100% !important;
}
/*END searchField*/

/*adsence*/
#adsence {
	background: #fff;
	margin: 0;
	padding: 5px 5px;
	height: 250px;
}
#adsence img {
	height: 100%;
	box-shadow: inset 0px 0px 50px 0px #ABABAB,19px 19px 21px -1px #17212E;
}
/*END adsence*/
/*---------------------------*/
/*END ONE SECTION */
/*---------------------------*/