 <!-- START OVERLAY -->
		<div ng-controller="SearchCtrl" class="overlay" style="display: none" pg-search> 
			<!-- BEGIN Overlay Content !-->
			<div class="overlay-content has-results m-t-20">

				<!-- BEGIN Overlay Header !-->
				<div class="container-fluid">
					<!-- BEGIN Overlay Logo !-->
					<img class="overlay-brand" src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
					<!-- END Overlay Logo !-->
					<!-- BEGIN Overlay Close !-->
					<a href="" class="close-icon-light overlay-close text-black fs-16" data-search="closeButton">
						<i class="pg-close"></i>
					</a>
					<!-- END Overlay Close !-->
				</div>
				<!-- END Overlay Header !-->

				<div class="container-fluid">
					<!-- BEGIN Overlay Controls !-->
					<input data-search="searchField" id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false" ng-model="search.query" ng-change="liveSearch()" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
					<br>

					<!-- Hints and filtres -->
					<div class="inline-block">
						<div class="inline-block m-l-10">
							<p class="fs-13">Type any text to search</p>
						</div>

						<div class="checkbox right">
							<input id="most_active_users" type="checkbox">
							<label for="most_active_users"> Most Active Users</label>

							<input id="whithout_bans" type="checkbox">
							<label for="whithout_bans">Without bans</label>
						</div>
					</div>
					<!--END  Hints and filtres -->

				</div>


				<!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
				<div class="container-fluid">

					<!-- suggestions -->
					<span>
								<strong>suggestions :</strong>
						</span>
					<span id="overlay-suggestions">{{search.query}}</span>
					<!-- END suggestions -->

					<br>

					<div class="search-results m-t-40">
						<!-- search_result_count -->
						<p class="bold" ng-if="search_result_count">Search result count: {{ search_result_count }}
							<span>results</span> 
							<br>
							<br>
							<span ng-if="search_page">{{ search_page }}</span>
						</p>

						<!-- pagination -->
						<ul class="pagination justify-content-center" ng-if="nrButtons">
								<li class="page-item">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>

								<li class="page-item" ng-repeat="buttons in nrButtons">
									<a class="page-link" href="#">1</a>
								</li>

								<li class="page-item">
									<a class="page-link" href="#" ng-click="nextPage()">Next</a>
								</li>
						</ul>
						<!-- END pagination -->

						<!-- END search_result_count -->

						<div class="row">
							<!-- BEGIN Search Result Item !-->
							<div class="col-md-6"  ng-repeat="(userKey, userValue) in users">
								<div class="wrap">
									<a href="{{ userValue.user_url}}">

										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
											<div ng-if="userValue.user_avatar">
												<img width="50" height="50" src=" {{ userValue.user_avatar }} " data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
											</div>
										</div>
										<!-- END Search Result Item Thumbnail !-->

										<div class="p-l-10 inline p-t-5">
												<!-- steam name -->
												<h5 class="m-b-5"><span class="semi-bold result-name">{{ userValue.user_person_info.personaName }}</span> <h5>
												<!--END  steam name -->

												<!-- user_match_info -->
												<p  ng-show="userValue.user_match_info.length > 0" style="max-width: 600px;">
														<span>
																<strong>Also known as: </strong>
														</span>
														<span>{{ joinn(userValue.user_match_info) }}</span>
												</p>
												<!-- END user_match_info  -->
										</div>

									</a>
								</div><!-- END wrap -->
							</div><!-- END col -->
							<!-- END Search Result Item !-->


						</div><!-- END row -->
					</div><!-- END search result -->


					</div><!-- END container fluid -->



				</div>
				<!-- END Overlay Search Results !-->
			</div>
			<!-- END Overlay Content !-->
		</div>
		<!-- END OVERLAY -->